# Ignore data folders
etl/mitre-cvelistV5/
etl/vulnrichment/
etl/nvd-data/
etl/epss-data/
etl/exploitdb-data/
etl-data/


# Ignore log files
etl/logs/*.log

# Ignore secrets
etl/secrets/*
*.log
archive/etl/logs/
